<launch>

	<arg name="model" default="$(find xacro)/xacro --inorder '$(find armoncar_package)/urdf/mrobot_with_arm_and_laser.urdf.xacro'" />
	<arg name="gui" default="true" />

	<param name="robot_description" command="$(arg model)" />

    <!-- set GUI parameters，display joint control -->
	<param name="use_gui" value="$(arg gui)"/>

    <!-- run joint_state_publisher，publish robot joint state  -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- run robot_state_publisher，publish tf  -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- run rviz visible window -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find armoncar_package)/rviz/armoncar_with_laser.rviz" required="true" />

</launch>

