<?xml version="1.0"?>
<launch>
  <param name="red_box_path" type="str" value="$(find hand_with_vision)/urdf/red_box.urdf"/>

  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="debug" default="false" />
  <arg name="urdf_path" default="$(find armoncar_package)/urdf/mrobot_with_arm_and_laser.urdf.xacro"/>
  <arg name="sim" default="true" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -z 0.2 -y 0.7"
    respawn="false" output="screen" />

  <include file="$(find panda_config)/launch/ros_controllers.launch"/>

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find panda_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
  <!-- spawn the conveyor_belt in gazebo -->
  <node name="spawn_conveyor_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find hand_with_vision)/urdf/conveyor_belt.urdf -urdf -model conveyor_belt" />
  <!-- spawn the conveyor_belt in gazebo -->
  <node name="bin" pkg="gazebo_ros" type="spawn_model" args="-file $(find hand_with_vision)/urdf/bin.urdf -urdf -model bin -y 0.8 -x -0.5 -z 0.05" />
  
  <!-- the red blocks spawner node -->
  <node name="blocks_spawner" pkg="hand_with_vision" type="blocks_spawner" output="screen" />

  <!-- the cylinder poses publisher node -->
  <node name="blocks_poses_publisher" pkg="hand_with_vision" type="blocks_poses_publisher" output="screen" />

  <!-- the cylinder poses publisher node -->
  <node name="ur5_vision" pkg="hand_with_vision" type="ur5_vision.py" output="screen" />
  <node name="ur5_mp" pkg="hand_with_vision" type="ur5_mp.py" output="screen" />
  <node name="ur5_gripper" pkg="hand_with_vision" type="ur5_gripper.py" output="screen"/>
  
  
  <!-- for ros control to be used with scara robot -->
<!--   <param name="/scara_robot_left/robot_description" textfile="$(find two_scara_collaboration)/urdf/scara_robot_left.urdf" /> -->

<!-- spawn the red_box in gazebo -->
<!-- node name="spawn_red_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find ur5_notebook)/urdf/red_box.urdf -urdf -model red_box"/ -->


</launch>
